@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --main-black: #222;
    --main-white: #fff;
    --main-color: rgb(255, 183, 49);
    --main-transition: all 0.3s linear;
    --light-border: 1px solid rgba(0,0,0,0.1);
    --header-height: 60px;
}

body {
    font-family: 'Lato';
    height: 100vh;
    width: 100vw;
    color: var(--main-black);
    user-select: none;

}

main {
    display: flex;
}
/*HEADER STYLES */
.header {
    width: 100vw;
    height: var(--header-height);
    border-bottom: var(--light-border);
    display: flex;
}

.header-center {
    width: 100vw;
    margin: 0 auto;
    padding: 0.5rem 2rem;
}

.logo {
    font-size: 1.2rem;
    user-select: none;
}


/* LEFT NAV STYLES */

.leftside-nav {
    height: calc(100vh - 60px);
    width: 25%;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    border-right: var(--light-border);
    position: relative;
}

.project-header {
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem 0;
    border-bottom: var(--light-border);
}

.fa-folder-plus {
    cursor: pointer;
    font-size: 1.2rem;
}

.projects {
    padding: 0rem 0.5rem;
}

.project {
    max-width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 3px;
    padding: 0.75rem 0.5rem;
    margin: 1rem auto;
    cursor: pointer;
}

.project i {
    font-size: 1.2rem;
    color: var(--main-black)
}

.project-add-form {
    width: 100%;
    position: absolute;
    bottom: calc(100vh);
    padding: 1rem 1rem;
    z-index: 2;
}

.project-add-form-title {
    font-size: 1.2rem;
    display: inline-block;
    margin-bottom: 2rem;
    
}

.project-add-form i {
    padding-left: 1.5rem;
    font-size: 1.2rem;
    cursor: pointer;
}

.project-add-form-active {
    top: 0px;
    height: 100%;
    background: white;
}

.project-add-form label {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    width: 100%;
    text-align: center;
    display: block;
}

.project-add-form input {
    padding: 0.25rem 0.5rem;
    font-size: 1rem;
    width: 100%;
}

.submit-add-project {
    padding: 0.5rem 1rem;
    background: var(--main-white);
    border: 2px solid rgba(0,0,0,0.2);
    border-radius: 3px;
    margin-top: 3rem;  
    cursor: pointer;
    transition: var(--main-transition);
}

.submit-add-project:hover {
    background: var(--main-black);
    color: var(--main-white);
}


.btn-container {
    display: flex;
    justify-content: center;
}

/* MAIN BODY STYLES */

.main-body {
    width: 100%;
    position: relative;
}

.main-body-header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    height: 60px;
    border-bottom: var(--light-border);

}

.current-project {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.1rem;
}

.current-project i {
    cursor: pointer;
    font-size: 1.2rem;
}

.current-project-title{
    width: 150px;
    cursor: pointer;
}

.add-todo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    border-left: var(--light-border);

}

.add-todo i {
    cursor: pointer;
}


.todo-container {
    padding: 1rem;
    width: 100%;

}

.todo {
    border: 1px solid rgba(0,0,0,0.2);
    max-width: 500px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 30px 1fr 0.1fr;
}

.priority {
    width: 15px;
    border-right: green;
    background-color: green;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
}

.info, .edit-btn {
    padding: 1rem;
    justify-content: center;
}

.edit-btn {
    font-size: 1.2rem;
    cursor: pointer;
}

@media screen and (max-width: 600px){
    .main-body-header {
        padding: 0rem 0.5rem;
        grid-template-columns: 0fr 2fr 1fr;
    }

    .current-project i {
        padding-right: 0.5rem;
    }

    .current-project-title {
        font-size: 1.2rem;
    }
}

/* ADD TODO FORM */
.add-todo-form {
    background-color: var(--main-white);
    width: 100%;
    position: absolute;
    bottom: calc(100vh);
    left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem 2rem;
    transition: var(--main-transition);
    z-index: 2;
    
}

.add-todo-form-active {
    top: 0px;
    height: 100%;
}

.form-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 2rem;
}

.form-item label {
    font-size: 1.2rem;
    padding-bottom: 0.75rem;
}

.form-item input {
    font-size: 1.2rem;
    padding: 0.5rem 0.25rem;
    text-align: center;
}

.form-item select{
    padding: 0.5rem;
}

.submit-add-todo {
    padding: 1rem 1.5rem;
    background: var(--main-white);
    border: 2px solid rgba(0,0,0,0.2);
    border-radius: 3px;
    margin-top: 6rem;  
    cursor: pointer;
    transition: var(--main-transition);
}

.submit-add-todo:hover {
    background: var(--main-black);
    color: var(--main-white);
}